<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
 
    <title>Welcome to Our Site</title>
</head>

<body>

    <div layout:fragment="content" th:remove="tag">
        <h4 style="background-color: beige;">Welcome to bubble chat. Chat about games</h4>
            
        <div class="row">

            <div class="col" >  <div><img src="https://www.johnnyseeds.com/dw/image/v2/BBBW_PRD/on/demandware.static/-/Sites-jss-master/default/dw68d91967/images/products/flowers/01743_01_fullsunimp.jpg?sw=387&cx=408&cy=24&cw=1016&ch=1016"
                class="roundiamge" alt="round" width="100" height="100" /></div>

                <span style="font-size: 48px; color: Dodgerblue;">
                <i class="fas fa-frog"></i>
                </span>
                <div style="font-size: 48px; color: Dodgerblue;">
                    <i class="fas fa-frog"></i>
                </div>

                <span style="font-size: 48px; color: Dodgerblue;">
                    <i class="fas fa-frog"></i>
                    </span>
            
            
            </div>
              
                <div class="col-6" >
                    <div class="video-wrapper">
                    <!-- <img src="https://www.johnnyseeds.com/dw/image/v2/BBBW_PRD/on/demandware.static/-/Sites-jss-master/default/dw68d91967/images/products/flowers/01743_01_fullsunimp.jpg?sw=387&cx=408&cy=24&cw=1016&ch=1016"
                    width="520" height="340"  /> -->
                    <video id="banner-video z-depth-1" style="margin-top: 0;"width="680"  preload="auto"  autoplay  controls muted loop poster="pexels-nick-bondarev">
                        <source src="/production.mp4" type="video/mp4" poster="poster.jpg"  >
                        <source src="movie.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                      </video>
                      <!-- <button class="videobutton active">play</button> -->
                    </div>
                   </div>
               
               <div class="col-4" >
                   
                <div style="float: right;">
                    <span class="responsive" style="width:100%;font-size: 48px; color: Dodgerblue;">
                <i class="fas fa-fish"> chat</i></span>
                   <div> <p>---</p></div>
                   <div> <p>---</p></div>
                   <div> <p>---</p></div>

                   <div> <p>---</p></div>
                   <div> <p>---</p></div>
                   <div> <p>---</p></div>
                   <div> <p>---</p></div>
                   <div> <p>---</p></div>
                   <input type="text" style="width:100%;"/><button style="float: right;"> CHAT</button>
                       

                </div>
            </div>
        
<!--        

        <table>
            <thread><tr>
                <th></th><th> 
                    <span style="font-size: 48px; color: Dodgerblue;display: block;">
                        <i class="fas fa-frog"></i>
                        </span>Header</th>
                    </tr></thread>
            <tbody>

            <th><tr>left<span class="responsive" style="font-size: 48px; color: Dodgerblue;">
                <img src="https://www.johnnyseeds.com/dw/image/v2/BBBW_PRD/on/demandware.static/-/Sites-jss-master/default/dw68d91967/images/products/flowers/01743_01_fullsunimp.jpg?sw=387&cx=408&cy=24&cw=1016&ch=1016"
                class="roundiamge" alt="round" width="20" height="30" />
                    <i class="fab fa-acquisitions-incorporated"></i>
               </span>  </tr></th> 

            <th><tr>right
           <span class="responsive" style="font-size: 48px; color: Dodgerblue;float: right;">
                 <i class="fas fa-fish"></i>
            </span></tr></th>

            
        </tbody>
        </table> -->

    </div>
        
</body>

</html>